body {
    background: black;
}
img {
position: static;
width: 1000px;
height: 600px;
align-content: center;
}
*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}